<h1>Editing Certificate Application</h1>

<%= render 'form', certificate_application: @certificate_application %>

<%= link_to 'Show', @certificate_application %> |
<%= link_to 'Back', certificate_applications_path %>
